{% load static %}
{% load women_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'women/css/styles.css' %}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'women/images/main.ico' %}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td valign=top>
            {% block mainmenu %}
            <div class="header">
                <ul id="mainmenu" class="mainmenu">
                    <li class="logo"><a href="">
                        <div class="logo"></div>
                    </a></li>

                    <li><a href="{% url 'women:index' %}">Main</a></li>
                    <li><a href="{% url 'women:about' %}">About</a></li>
                    <li><a href="{% url 'women:contact' %}">Contact</a></li>

                    {% if request.user.is_authenticated %}
                    <li class="last"> {{ user.username }} | <a href="">Log out</a></li>
                    {% else %}
                    <li class="last"><a href="">Sign up</a> | <a href="">Log in</a></li>
                    {% endif %}
                </ul>
                <div class="clear"></div>
            </div>
            {% endblock mainmenu %}

            <table class="table-content" border=0 cellpadding="0" cellspacing="0">
                <tr>
                    <!-- Sidebar слева -->
                    <td valign="top" class="left-chapters">
                        <ul id="leftchapters">
                            {% show_categories cat_selected %}
                        </ul>
                    </td>
                    <!-- Конец Sidebar'а -->
                    <td valign="top" class="content">
                        <!-- Блок контента -->
                        <div class="content-text">
                            {% block content %}
                            <ul class="list-articles">
                                {% for p in posts %}
                                <li>
                                    <div class="article-panel">
                                        <p class="first">Category:
                                            {{ p.get_categories }}
                                        </p>
                                        <p class="last">Date: {{ p.time_update|date:"d-m-Y H:i:s" }}</p>
                                    </div>

                                    {% if p.photo %}
                                    <p><img class="img-article-left thumb" src="{{ p.photo.url }}"></p>
                                    {% endif %}

                                    <h2>{{ p.title }}</h2>
                                    {% autoescape on %}
                                    {{ p.content|linebreaks|truncatewords:50 }}
                                    {% endautoescape %}
                                    <div class="clear"></div>
                                    <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Read post</a></p>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endblock %}
                            {% if page_obj.has_other_pages %}
                            <nav class="list-pages">
                                <ul>
                                    {% if page_obj.has_previous %}
                                    <li class="page-num">
                                        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                                    </li>
                                    {% endif %}

                                    {% for p in paginator.page_range %}
                                    {% if page_obj.number == p %}
                                    <li class="page-num page-num-selected">{{ p }}</li>
                                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                    <li class="page-num">
                                        <a href="?page={{ p }}">{{ p }}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                    <li class="page-num">
                                        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        </div>
                        <!-- Конец блока контента -->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- Footer -->
    <tr>
        <td valign=top>
            <div id="footer">
                <p>&copy; 2024</p>
            </div>
        </td>
    </tr>
</table>
<!-- Конец footer'а и страницы -->
</body>
</html>
